<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="BD_formul" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\1\Desktop\Вычисление по формулам с базой данных v1.1\Вычисление по формулам\База данных формул.mdf;Integrated Security=True" />
  <add name="BD_TEST_formul" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\1\Desktop\Вычисление по формулам с базой данных v1.1\Вычисление по формулам\Тест по формулам.mdf;Integrated Security=True" />
  <add name="Вычисление_по_формулам.Properties.Settings.База_данных_формулConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\База данных формул.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="Вычисление_по_формулам.Properties.Settings.Тест_по_формуламConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Тест по формулам.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
 </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
